html {
  min-height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  background: #6441A5;
  background: -webkit-linear-gradient(to bottom, #2a0845, #6441A5);
  background: linear-gradient(to bottom, #2a0845, #6441A5);
}

#folderList, #fileList {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  -moz-border-radius: 8px;
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card {
  float: left;
  width: 25%;
  padding: .75rem;
  margin-bottom: 1rem;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
}

.card > img {
  margin-bottom: .75rem;
}

.card img:hover {
  cursor: pointer;
  transform: rotate(-5deg);
}

.card-text {
  font-size: 85%;
  text-transform: capitalize;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.card-text a {
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

#breadcrumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  -moz-border-radius: 8px;
  margin: 8px;
}

#breadcrumb img,
#breadcrumb .search {
  float: right;
}

#breadcrumb .search {
	position: relative;
}

#breadcrumb .search input {
  color: white;
  font-size: 80%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  margin-right: 16px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  outline: none;
  padding: 3px 24px 3px 6px;
}
	
.search-icon-wrapper {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 1px;
	right: 17px;
	margin: 0 auto;
}

.search-icon-circle {
	position: absolute;
	width: 65%;
	height: 65%;
	border-radius: 50%;
	border: 3px solid rgb(165, 150, 180);
	top: 4px;
	right: 4px;
}
.search-icon-rectangle {
	position: absolute;
	height: 35%;
	transform: rotate(-135deg);
	border: 2px solid rgb(165, 150, 180);
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	top: 13px;
	right: 15px;
}


#breadcrumb a {
  text-transform: capitalize;
  color: white;
}

.result{
    clear:both;
    background-color: #442760;
    margin:3px;
    border-radius:3px;
    padding:5px;
}
#search-results{
    display:none;
    line-height: 15px;
    width: 353px;
    padding: 4px;
    background-color: #6e538a;
    border: 1px solid #331053;
    border-radius: 4px;
    position: absolute;
    top: 35px;
    right: -60px;
    z-index: 3;
    max-height:492px;
    overflow:auto;
}

#search-results .relevancy{
    float:right;
    color: #777777;
    font-size: 12px;
}
#search-results .path{
    font-size: 12px;
    color: #777777;
    letter-spacing: 1px;
}

#search-results .searching{
    text-align: center;
    padding:10px;
    color:white;
}
